@import "tailwindcss";

/* 1. Definimos las variables semánticas usando los colores de la paleta */
:root {
  /* Usamos el color 'Ligero' para el fondo claro */
  --background: #F7F6FA; 
  /* Usamos el color 'Arena' para el texto oscuro */
  --foreground: #262626; 
  --bg-dark: #262626;
  --text-light: #F7F6F4;
}

/* 2. Aquí registramos todos los colores de tu imagen para usarlos en Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* -- TUS COLORES PERSONALIZADOS -- */
  --color-ligero: #F7F6FA;
  --color-arena: #262626;
  --color-dev: #F9FF2F;
  --color-plumb: #3E3755;
  --color-emerald: #233030;
  --color-terra: #592E2B;
}
.bg-grain {
  position: relative;
  background-color: #1a1a1a;
}

.bg-grain::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0.50; /* ajusta intensisdad */
  background-size: cover;
  mix-blend-mode: overlay;

  background-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='400' height='400'>\
    <filter id='noise'>\
      <feTurbulence type='fractalNoise' baseFrequency='1.8' numOctaves='8'/>\
    </filter>\
    <rect width='100%' height='100%' filter='url(%23noise)'/>\
  </svg>");
}


@media (prefers-color-scheme: dark) {
  :root {
    /* MODO OSCURO: Invertimos a Arena (fondo) y Ligero (texto) */
    --background: #262626;
    --foreground: #F7F6FA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.image-wrapper {
  width: 100%;
  height: 500px; /* aquí decides qué tan “larga” quieres la imagen */
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* CLAVE */
}
